<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Contact.css">
    <title>Contact Us</title>
</head>

<body>
    <section>

        <div class="container">
            <div class="containerinfo">
                <div>
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span>
                                <img src="./src/Assests/location.png" alt="location">

                            </span>
                            <span>mathura,Uttar Pradesh</span>
                        </li>
                        <li>
                            <span><img src="./src/Assests/email.png" alt=""></span>
                            <span>lorem@gmail.com</span>
                        </li>
                        <li>
                            <span><img src="./src/Assests/phone.png" alt=""></span>
                            <span>1234567898</span>
                        </li>
                    </ul>
                </div>
                <ul class="sci">
                    <li><a href=" "><img src="./src/Assests/facebook.png" alt=""></a></li>
                    <li><a href=" "><img src="./src/Assests/linkedin.png" alt=""></a></li>
                    <li><a href=" "><img src="./src/Assests/twitter.png" alt=""></a></li>
                </ul>
            </div>
            <form action="">
                <div class="contactform">
                    <h2>Send a Message</h2>
                    <div class="formBox">
                        <div class="inputBox w50">
                            <div class="inputBox w50">
                                <input type="text" required>
                                <span>Name</span>
                            </div>
                            <div class="inputBox w50">

                                <input type="email" required>
                                <span>E-mail</span>
                            </div>
                            <div class="inputBox w50">

                                <input type="text" name="" required>
                                <span>Contact</span>
                            </div>
                            <div class="inputBox w100">

                                <textarea name="" required></textarea>
                                <span>Write your message here...</span>
                            </div>
                            <div class="inputBox w100">
                                <input type="submit" value="Send">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </section>
</body>

</html>